@import '../config.all';

.container {
  background: var(--c-background);
}

.blogs-container {
  padding-top: 50px;
  display: flex;
  margin-right: 15px;
  justify-content: space-evenly;
  @include breakpoint($mobile) {
    flex-direction: column;
    margin-left: 20px;
  }
  @include breakpoint($tablet) {
    flex-direction: column;
    margin-left: 12px;
  }
}

.blogs {
  display: flex;
  flex-direction: column;
  position: relative;
  @include breakpoint($tablet) {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
.blogs__link {
  padding-bottom: 40px;
  color: var(--c-background);
  a {
    @include link-clear;
    color: var(--c-black-50);
  }
}
.blogs__image {
  img {
    border-radius: 10px;
    max-width: 834px;
    @include breakpoint($mobile) {
      width: 100%;
    }
    @include breakpoint($tablet) {
      width: 100%;
    }
  }
}
.blogs__title {
  font-size: 72px;
  font-family: var(--f-secondary);
  line-height: 80px;
  width: 674px;
  height: 160px;
  margin-top: 24px;
  font-weight: normal;
  @include breakpoint($mobile) {
    font-size: 55px;
    height: 192px;
    width: 310px;
    margin-bottom: 120px;
  }
  @include breakpoint($tablet) {
    width: 100%;
  }
}
.blogs__body {
  max-width: 835px;
  color: var(--c-black-50);
  @include breakpoint($mobile) {
    width: 100%;
    top: 10em;
    :nth-child(1) {
      padding-bottom: 10px;
      padding-top: 0px;
    }
  }

  @include breakpoint($tablet) {
    top: 0;
  }

  :nth-child(1) {
    padding-bottom: 10px;
    padding-top: 40px;
    @include breakpoint($mobile) {
      padding-top: 5px;
    }
  }
  :nth-child(2) {
    padding-bottom: 40px;
    padding-top: 0;
    @include breakpoint($mobile) {
      padding-top: 0;
      padding-bottom: 40px;
    }
    @include breakpoint($tablet) {
      padding-bottom: 10px;
    }
  }
  :nth-child(3) {
    width: 835px;
    height: 113px;
    font-size: 20px;
    padding-left: 24px;
    padding-bottom: 40px;
    line-height: 32px;
    color: var(--c-black);
    position: relative;
    @include breakpoint($mobile) {
      width: 310px;
      height: 250px;
    }
    @include breakpoint($tablet) {
      width: 100%;
      padding-bottom: 10px;
      height: 100px;
    }
  }

  :nth-child(3):after {
    content: '';
    height: 96px; //You can change this if you want smaller/bigger borders
    width: 6px;
    border-radius: 5px;
    left: 0;
    position: absolute;
    top: 0; // If you want to set a smaller height and center it, change this value
    background-color: var(--c-secondary-light);

    @include breakpoint($mobile) {
      height: 250px;
    }
    @include breakpoint($tablet) {
      height: 100px;
    }
  }

  :nth-child(4) {
    padding-top: 15px;
    padding-bottom: 10px;
    @include breakpoint($mobile) {
      padding-bottom: 50px;
    }
    @include breakpoint($tablet) {
      padding-bottom: 0px;
    }
  }
}

.blogs__cat-taxanomy {
  padding-top: 40px;
  a {
    @include link-clear;
    font-weight: bold;
    color: var(--c-black);
  }
}

.blogs__tag-taxanomy {
  a {
    padding: 5px;
    border: 1px solid var(--c-primary);
    max-width: 66px;
    max-height: 32px;
    border-radius: 5px;
  }
  @include breakpoint($mobile) {
    margin-bottom: 10px;
  }
  @include breakpoint($tablet) {
    margin-bottom: 10px;
  }
}

.blogs-sidebar {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 100px;

  @include breakpoint($mobile) {
    display: none;
  }
  @include breakpoint($tablet) {
    display: none;
  }
}
.blogs-sidebar__search {
  position: relative;
  label {
    position: absolute;
    color: var(--c-grey);
    padding: 10px;
  }
  input[type='search'] {
    @include input;
    left: 2.5em;
    width: 300px;
  }
  input[type='submit'] {
    display: none;
  }
}

.blogs-sidebar__cat {
  margin-top: 20px;
  top: 4em;
  h2 {
    width: 300px;
    border-bottom: 1px solid var(--c-grey-light);
    a {
      margin-top: 24px;
      width: 30px;
      padding: 10px 0;
      display: block;
      color: var(--c-black);
      font-weight: bold;
    }
  }
  @include breakpoint($mobile) {
    padding: 0;
    padding-bottom: 60px;
    top: 0;
    right: 0;
  }
}

//Subscribe

.subscribe-section {
  display: flex;
  height: 352px;
  background: var(--c-secondary-light);
  justify-content: space-around;
  padding: 30px 0px 0px 16px;
  align-items: center;
  @include breakpoint($mobile) {
    flex-direction: column;
    height: 480px;
    align-items: flex-start;
  }
  @include breakpoint($tablet) {
    flex-direction: column;
    height: 480px;
    align-items: flex-start;
  }
}
.subscribe-section__text {
  padding-right: 85px;
  @include breakpoint($mobile) {
    width: 200px;
    padding: 0;
  }
}
.subscribe-section__heading {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding-bottom: 18px;
  @include breakpoint($mobile) {
    padding-top: 30px;
  }
}
.subscribe-section__subheading {
  font-family: var(--f-secondary);
  font-size: 56px;
  line-height: 64px;
  width: 510px;
  @include breakpoint($mobile) {
    font-size: 40px;
    height: 150px;
    width: 210px;
  }
}

.subscribe-section__form {
  position: relative;
  right: 8em;
  @include breakpoint($mobile) {
    left: 0;
    top: 0;
  }
  @include breakpoint($tablet) {
    left: 0;
    top: 0;
  }
  input[type='submit'] {
    max-width: 178px;
    height: 48px;
    border-radius: 5px;
    background: var(--c-primary);
    color: var(--c-white);
    border: 1px solid rgba(255, 0.255, 0.255, 0.1);
    position: relative;
    left: 26em;
    bottom: 3em;
    @include breakpoint($mobile) {
      left: 0em;
      top: 1em;
    }
  }
}
.subscribe-section__button {
  width: 178px;
  height: 48px;
  border-radius: 5px;
  background: var(--c-primary);
  color: var(--c-white);
  border: 1px solid rgba(255, 0.255, 0.255, 0.1);
  position: relative;
  left: 26em;
  bottom: 3em;
}

.subscribe-section__email {
  @include input;
  max-width: 370px;

  @include breakpoint($mobile) {
    max-width: 346px;
    margin-bottom: 29px;
  }
}

//Author
.blogs-author {
  display: flex;
  align-items: center;
  position: relative;
  top: 50em;
  @include breakpoint($mobile) {
    top: 40em;
  }
  @include breakpoint($tablet) {
    top: 0;
  }
}
.blogs-author__image {
  border-radius: 60px;
  width: 32px;
  height: 32px;
}
.blogs-author__name {
  padding-left: 16px;
}
.blogs-author__date {
  color: var(--c-black-50);
  margin-left: 16px;
}
.blogs__share {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}
.share-on {
  display: flex;
  a {
    color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    display: flex;
  }
  a[href*='facebook'] {
    background-image: url(/themes/custom/drupalastic/images/facebook.png);
  }
  a[href*='instagram'] {
    background-image: url(/themes/custom/drupalastic/images/instagram.png);
  }
  a[href*='twitter'] {
    background-image: url(/themes/custom/drupalastic/images/twitter.png);
  }
}
.share-on__list {
  display: flex;
}

.blogs__share {
  h2 {
    color: var(--c-black-50);
  }
}
