@import '../config.all';

.container {
  background: var(--c-background);
}

.blogs-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;

  @include breakpoint($mobile) {
    flex-direction: column;
    margin-left: 20px;
  }
  @include breakpoint($tablet) {
    flex-direction: column;
    margin-left: 12px;
  }
}
.blogs__link {
  padding-bottom: 40px;
  color: var(--c-background);
  a {
    @include link-clear;
    color: var(--c-black-50);
  }
  a:before {
    content: url(/themes/custom/drupalastic/images/backlink.png);
    width: 14px;
    margin-right: 12px;
  }
}
.blogs__image {
  img {
    border-radius: 10px;
    max-width: 834px;
    @include breakpoint($mobile) {
      width: 100%;
    }
    @include breakpoint($tablet) {
      width: 100%;
    }
  }
}
.blogs__title {
  font-size: 72px;
  font-family: var(--f-secondary);
  line-height: 80px;
  width: 674px;
  height: 160px;
  margin-top: 24px;
  font-weight: normal;
  @include breakpoint($mobile) {
    font-size: 55px;
    height: 192px;
    width: 310px;
    margin-bottom: 120px;
  }
  @include breakpoint($tablet) {
    width: 100%;
  }
}

.blogs__author {
  display: flex;
  align-items: center;
  margin: 45px 0px;
}
.blogs__author-image {
  margin-right: 16px;
  img {
    border-radius: 20px;
  }
}
.blogs__author-name {
  margin-right: 16px;
  font-weight: bold;
}
.blogs__author-date {
  color: var(--c-black-50);
}

.blogs__body {
  max-width: 835px;
  border-bottom: 1px solid var(--c-black-50);
  p {
    padding-bottom: 25px;
    color: var(--c-black-50);
    line-height: 24px;
  }
  h3 {
    margin-bottom: 25px;
    font-family: var(--f-secondary);
    font-size: 24px;
  }

  ul {
    margin-bottom: 40px;
    li:before {
      content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: var(--c-primary); /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      font-size: 24px;
    }
  }
  blockquote {
    position: relative;
    margin: 20px 0px;
    @include breakpoint($mobile) {
      height: 220px;
    }
    p {
      color: var(--c-black);
      line-height: 32px;
      max-width: 807px;
      height: 113px;
      font-size: 20px;
      margin-left: 24px;
    }

    p:after {
      content: '';
      height: 96px; //You can change this if you want smaller/bigger borders
      width: 6px;
      border-radius: 5px;
      left: 0;
      position: absolute;
      top: 0; // If you want to set a smaller height and center it, change this value
      background-color: var(--c-secondary-light);

      @include breakpoint($mobile) {
        height: 220px;
      }
      @include breakpoint($tablet) {
        height: 100px;
      }
    }
  }
}
.blogs__cat-taxanomy {
  padding-top: 40px;
  a {
    @include link-clear;
    font-weight: bold;
    color: var(--c-black);
  }
}

.blogs__tag-taxanomy {
  margin-top: 47px;
  display: flex;
  a {
    padding: 5px;
    border: 1px solid rgb(67 76 204 / 30%);
    max-height: 32px;
    border-radius: 5px;
    text-align: center;
    margin-right: 14px;
  }
  @include breakpoint($mobile) {
    margin-bottom: 10px;
  }
  @include breakpoint($tablet) {
    margin-bottom: 10px;
  }
}

.blogs-sidebar {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  @include breakpoint($mobile) {
    display: none;
  }
  @include breakpoint($tablet) {
    display: none;
  }
}
.blogs-sidebar__search {
  position: relative;
  label {
    position: absolute;
    color: var(--c-grey);
    padding: 10px;
  }
  input[type='search'] {
    @include input;
    left: 2.5em;
    width: 300px;
  }
  input[type='submit'] {
    display: none;
  }
}

.blogs-sidebar__cat {
  margin-top: 20px;
  top: 4em;
  h2 {
    width: 300px;
    border-bottom: 1px solid var(--c-grey-light);
    a {
      margin-top: 24px;
      width: 30px;
      padding: 10px 0;
      display: block;
      color: var(--c-black);
      font-weight: bold;
    }
  }
  @include breakpoint($mobile) {
    padding: 0;
    padding-bottom: 60px;
    top: 0;
    right: 0;
  }
}

//Subscribe

.subscribe-section {
  display: flex;
  height: 352px;
  background: var(--c-secondary-light);
  justify-content: space-around;
  padding: 30px 0px 0px 16px;
  align-items: center;
  @include breakpoint($mobile) {
    flex-direction: column;
    height: 480px;
    align-items: flex-start;
  }
  @include breakpoint($tablet) {
    flex-direction: column;
    height: 480px;
    align-items: flex-start;
  }
}
.subscribe-section__text {
  padding-right: 85px;
  @include breakpoint($mobile) {
    width: 200px;
    padding: 0;
  }
}
.subscribe-section__heading {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding-bottom: 18px;
  @include breakpoint($mobile) {
    padding-top: 30px;
  }
}
.subscribe-section__subheading {
  font-family: var(--f-secondary);
  font-size: 56px;
  line-height: 64px;
  width: 510px;
  @include breakpoint($mobile) {
    font-size: 40px;
    height: 150px;
    width: 210px;
  }
}

.subscribe-section__form {
  position: relative;
  right: 8em;
  @include breakpoint($mobile) {
    left: 0;
    top: 0;
  }
  @include breakpoint($tablet) {
    left: 0;
    top: 0;
  }
  input[type='submit'] {
    max-width: 178px;
    height: 48px;
    border-radius: 5px;
    background: var(--c-primary);
    color: var(--c-white);
    border: 1px solid rgba(255, 0.255, 0.255, 0.1);
    position: relative;
    left: 26em;
    bottom: 3em;
    @include breakpoint($mobile) {
      left: 0em;
      top: 1em;
    }
  }
}
.subscribe-section__button {
  width: 178px;
  height: 48px;
  border-radius: 5px;
  background: var(--c-primary);
  color: var(--c-white);
  border: 1px solid rgba(255, 0.255, 0.255, 0.1);
  position: relative;
  left: 26em;
  bottom: 3em;
}

.subscribe-section__email {
  @include input;
  max-width: 370px;

  @include breakpoint($mobile) {
    max-width: 300px;
  }
}

//Author
.blogs-author {
  display: flex;
  height: 176px;
  max-width: 834px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 30%);
  border-radius: 5px;
  align-items: center;
  padding: 32px;
  margin-bottom: 100px;
  @include breakpoint($mobile) {
    height: 346px;
    flex-direction: column;
  }
}
.blogs-author__image {
  border-radius: 60px;
  width: 112px;
  height: 112px;
  margin-right: 32px;
}
.blogs-author__desc {
  color: var(--c-black-50);
  margin-top: 6px;
}
.blogs-author__name {
  font-size: 20px;
  line-height: 32px;
}
.blogs-author__title {
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
}

.blogs__share {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}
.share-on {
  display: flex;
  a {
    color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    display: flex;
  }
  a[href*='facebook'] {
    background-image: url(/themes/custom/drupalastic/images/facebook.png);
  }
  a[href*='instagram'] {
    background-image: url(/themes/custom/drupalastic/images/instagram.png);
  }
  a[href*='twitter'] {
    background-image: url(/themes/custom/drupalastic/images/twitter.png);
  }
}
.share-on__list {
  display: flex;
}

.blogs__share {
  h2 {
    color: var(--c-black-50);
  }
}
