@import '../config.all';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--f-primary);
  @include link-clear;
  @include list-clear;
  font-size: 16px;
}
.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.footer-container {
  background: #f2f2f2;
  padding: 15px;
}

.footer {
  @include container;
  display: flex;

  @include breakpoint($mobile) {
    position: relative;
    left: -4em;
    display: block;
    width: 100%;
    padding: 15px;
    padding-top: 72px;
  }

  @include breakpoint($desktop) {
    justify-content: space-evenly;
    padding-top: 70px !important;
  }

  &__left-block {
    @include breakpoint($tablet) {
      margin-left: 20px;
    }
    @include breakpoint($mobile) {
      margin-left: 50px;
    }
  }

  &__menu {
    padding-top: 10px;
    &-list-item {
      padding-top: 10px;
    }

    &-list-link {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &__blogs-block {
    margin-left: 2px;
    @include breakpoint($tablet) {
      margin-top: 20px;
    }
    @include breakpoint($mobile) {
      padding-left: 3em;
    }
  }

  &__logo {
    width: 350px;
    margin-bottom: 23px;
  }

  &__logo__menu {
    display: flex;
    margin-left: -20px;
    @include breakpoint($tablet) {
      display: flex !important;
      margin-top: 0;
    }
    @include breakpoint($mobile) {
      margin-left: 0;
      display: block;
    }
  }

  &__short-info {
    line-height: 24px;
    width: 270px;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 130px;
    margin-bottom: 18px;

    @include breakpoint($mobile) {
      width: 340px;
      height: 80px;
      margin-bottom: 0;
      height: 80px;
      margin-right: 35px;
    }
    @include breakpoint($tablet) {
      margin-right: 35px;
    }
  }

  &-social {
    a[href*='facebook'] {
      background-image: url(/themes/custom/drupalastic/images/facebook.png);
      color: rgba(0, 0, 0, 0.5);
      background-repeat: no-repeat;
      background-position: center;
    }
    a[href*='instagram'] {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &__title {
    color: #000000;
    font-weight: 700;
  }

  &__menu-block {
    display: flex;
    @include breakpoint($mobile) {
      margin-bottom: 72px;
      margin-top: 80px;
      margin-left: 48px;
    }

    @include breakpoint($tablet) {
      margin-top: 0px;
      width: 10%;
    }
  }

  &__aperiri-menu {
    margin-left: 200px;
    margin-right: 150px;
    @include breakpoint($mobile) {
      margin-left: 100px;
    }
  }

  &__blog-container {
    display: flex;
    padding: 10px;
    padding-bottom: 50px;
    @include breakpoint($mobile) {
      padding-left: 0;
    }
  }

  &__blog-section {
    padding-left: 30px;
    height: 48px;
    @include breakpoint($mobile) {
      width: 257px;
      padding-left: 18px;
    }
  }

  &__blog-desc {
    color: rgba(0, 0, 0, 0.5);
    width: 270px;
    @include breakpoint($mobile) {
      width: 225px;
    }
  }

  &__blog-title {
    width: 72px;
    height: 24px;
    font-weight: bold;
    color: #000000;
    font-size: 12px;
    line-height: 24px;
    @include breakpoint($mobile) {
      display: block;
    }
  }

  &__secondary {
    background: #f2f2f2;
    display: flex;
    padding-bottom: 30px;
    justify-content: space-around;
    padding-top: 27px;
    @include breakpoint($tablet) {
      display: flex !important;
    }
    @include breakpoint($mobile) {
      display: block;
    }
  }

  &__created {
    margin-right: 22em;
    color: rgba(0, 0, 0, 0.5);
    @include breakpoint($tablet) {
      margin-right: 10em !important;
    }
    @include breakpoint($mobile) {
      width: 100%;
    }
  }

  &__copyright {
    color: rgba(0, 0, 0, 0.5);
    margin-right: 5em;
    @include breakpoint($mobile) {
      width: 100%;
    }
  }

  &-social__list {
    display: flex;
  }
}
