@import '../config.all';
.footer-container {
  background: #f2f2f2;
  padding: 15px;
}

.footer-container {
  background: #f2f2f2;
  padding: 15px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 70px;
  width: 100%;

  @include breakpoint($mobile) {
    // align-items: end;
  }
}
.footer__blogs-block {
  margin-left: 2px;
}
.footer__left-block {
  @include breakpoint($tablet) {
    margin-left: 20px;
  }
  @include breakpoint($mobile) {
    margin-left: 50px;
  }
}

.footer__menu {
  padding-top: 10px;
}
.footer__menu-list-item {
  padding-top: 10px;
}

.footer__menu-list-link {
  color: rgba(0, 0, 0, 0.5);
}

.footer__blogs-block {
  margin-left: 2px;
  @include breakpoint($tablet) {
    margin-top: 20px;
  }
  @include breakpoint($mobile) {
    padding-left: 3em;
  }
}

.footer__logo {
  width: 62px;
  margin-bottom: 23px;
}

.footer-primary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  @include breakpoint($tablet) {
    display: flex;
    margin-top: 0;
  }
  @include breakpoint($mobile) {
    margin-left: 0;
    flex-direction: column;
  }
}

.footer__short-info {
  line-height: 24px;
  max-width: 270px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 18px;

  @include breakpoint($mobile) {
    width: 340px;
    height: 80px;
    margin-bottom: 0;
    height: 80px;
    margin-right: 35px;
  }
  @include breakpoint($tablet) {
    margin-right: 35px;
  }
}

.footer-social {
  a {
    color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    display: flex;
  }
  a[href*='facebook'] {
    background-image: url(/themes/custom/drupalastic/images/facebook.png);
  }
  a[href*='instagram'] {
    background-image: url(/themes/custom/drupalastic/images/instagram.png);
  }
  a[href*='twitter'] {
    background-image: url(/themes/custom/drupalastic/images/twitter.png);
  }
}

.footer-social__list {
  display: flex;
}

.footer__title {
  color: #000000;
  font-weight: 700;
}

.footer__menu-block {
  display: flex;
  @include breakpoint($mobile) {
    margin-bottom: 72px;
    margin-top: 80px;
    margin-left: 48px;
  }

  @include breakpoint($tablet) {
    margin-top: 0px;
    width: 10%;
  }
}

.footer__causae-menu {
  margin-right: 143px;
  @include breakpoint($mobile) {
    margin-left: 14px;
  }
}

.footer__blog-container {
  display: flex;
  padding: 10px;
  padding-bottom: 50px;
  @include breakpoint($mobile) {
    padding-left: 0;
  }
}

.footer__blog-section {
  padding-left: 30px;
  height: 48px;
  @include breakpoint($mobile) {
    width: 257px;
    padding-left: 18px;
  }
}

.footer__blog-desc {
  color: rgba(0, 0, 0, 0.5);
  width: 270px;
  @include breakpoint($mobile) {
    width: 225px;
  }
}

.footer__blog-title {
  width: 72px;
  height: 24px;
  font-weight: bold;
  color: #000000;
  font-size: 12px;
  line-height: 24px;
  @include breakpoint($mobile) {
    display: block;
  }
}

.footer__secondary {
  display: flex;
  padding-bottom: 30px;
  justify-content: space-around;
  padding-top: 27px;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid var(--c-grey);
  @include breakpoint($tablet) {
    flex-direction: row;
  }
  @include breakpoint($mobile) {
    flex-direction: column;
    margin-right: 90px;
  }
}
.footer__created {
  margin-bottom: 8px;
}
.footer__copyright {
  max-width: 246px;
}
