@import '../config.all';

.header {
  background-color: var(--c-primary);
  height: 100px;
  position: relative;
  margin-bottom: -3.2em;
  top: -1em;
  @include breakpoint($mobile) {
    top: 0;
  }
}

.nav {
  align-items: center;
  padding: 1rem 1.5rem;
  @include breakpoint($desktop) {
    @include container;
  }
}
.nav-logo {
  position: relative;
  bottom: 1.5em;
  img {
    height: 28px;
    width: 100px;
  }
  @include breakpoint($desktop) {
    @include container;
    left: 230px;
  }
  @include breakpoint($mobile) {
    padding-left: 1em;
    bottom: 1em;
  }
  @include breakpoint($tablet) {
    bottom: 1.75em !important;
    left: 3em;
  }
}

.nav-menu {
  display: flex;
  list-style: none;
  padding-top: 35px;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  font-family: var(--f-primary);

  &__item {
    padding: 8px;

    a {
      color: var(--c-white);
      @include text();
      @include link-clear();
      @include list-clear();
      font-weight: 900;
      margin: 1em;
    }
  }

  &__item:last-child {
    border: 1px solid var(--c-white-50);
    border-radius: 5px;
    width: 170px;
    line-height: 2;
    height: 48px;
    font-size: 16px;
    text-align: center;
    margin-top: -5px;
    padding: 7px;
  }
}

@include breakpoint($tablet) {
  @include navbar;
}

.hamburger {
  display: none;
  margin-top: 1em;
  position: relative;
  outline: none;
  z-index: 999;
}

.hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #ffff;
}

@include breakpoint($tablet) {
  @include hamburger;
  .hamburger {
    margin-left: 40em !important;
    top: 0;
  }
}

@include breakpoint($mobile) {
  @include navbar;
}
@include breakpoint($mobile) {
  @include hamburger;
  .hamburger {
    margin-left: 20em;
    top: 0;
  }
}
